<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="AGProd0" connectionString="Data Source=HUDS1708-SQL02;Initial Catalog=RRS;Persist Security Info=True;User ID=dbuser;Password=oneairgas" providerName="System.Data.SqlClient"/>
		<add name="AGProd05" connectionString="Data Source=HUDS1708-SQL02;Initial Catalog=RRS;Persist Security Info=True;User ID=intranet;Password=Temp123" providerName="System.Data.SqlClient"/>
		<add name="AGProd" connectionString="Data Source=gosrvwebdev-dat;Initial Catalog=Refron_DB;Uid=dbuser;Pwd=oneairgas" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>